<!doctype html>
<html lang="en-us">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/stylesheet.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="js/scrollingnav.js"></script>
<script src="js/windowheight.js"></script>

<link rel="shortcut icon" type="image/png" href="imgs/coralfavicon.png"/>

<title>Jamie Pilgrim | I'll Bring the Donuts </title>
<!-- [if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"> </script><![end if]-->
</head>


<body> 
<header> 
  <%  if !@message %>
    <nav>
      <a href="#"><img id="logo" src="imgs/simplelogo.png" alt="Donut Logo" height="75" width="75"></a>
      <ul>
        <li><a href="#about"> About </a></li>
        <li><a href="#project"> Projects </a></li>
        <li><a href="#"><img src="imgs/simplelogo.png" alt="Donut Logo" height="75" width="75"></a><li>
        <li><a href="#experience"> Experience </a></li>
        <li><a href="#contact"> Contact </a></li>
      </ul>
    </nav>
  <%end%>
  <section class="module parallax" id="parallax-1">
    <div class="container">
      <h2><%=  @message if @message %></h2>
    </div>
  </section>
</header>
<a name ="about">
<section class="module content">
  <div class="container row">

    <h2> Hi! <br>  I'm Jamie! </h2>
    <h4 class="center"> Web Developer & Designer </h4>

    <p> I make web apps that are both beautiful and functional, inside and out. With a strong background in design paired with an ever growing technical skillset, my creativity knows no bounds.  </p>
<!-- projects anchor tag so content displays below nav -->
<a name ="project">
    <p> Currently located in Chicago, after I relocated to attend Dev Bootcamp, I am always looking for new opportunities while I freelance.  </p>

  </div>
</section>


<section class="module content">
  <div class="container">
    <h2> Projects </h2>

    <p> These are sites that were built during a hackathon or my time studying development at Dev Bootcamp. </p>

    <!-- Show image, then on hover, blur background and show a title and short desc of project. Will be clickable to a popup w/ more info that will display links, who collaborated, the projects intentions and technologies -->
    <ul id="projects">
      <li id="humblehearts"><a href="http://humblehearts.herokuapp.com" target="_blank">Humble Hearts<!-- <img src="" alt=""> --></a></li>
      <li id="raft" ><a href="http://raft.herokuapp.com" target="_blank">Raft<!-- <img src="" alt=""> --></a></li>
      <li id="fetch"><a href="https://github.com/PilgrimMemoirs/DBC_Metaoverflow" target="_blank">Metaoverflow<!-- <img src="" alt=""> --></a></li>
<!--       <li id="games"><a href=""><img src="" alt=""></a></li>
      <li id="blog"><a href=""><img src="" alt=""></a></li>
      <li id="metaoverflow"><a href=""><img src="" alt=""></a></li> -->
    </ul>
  <a name ="experience">
  </div>
</section>


<section class="module parallax" id="parallax-2">
  <div class="container">
  <h2> Experience </h2>

  <h4> <a href="imgs/JamiePilgrimResume2015.pdf" target="_blank">Download Resume</a> </h4>
  </div>
</section>

<a name ="contact">
<section class="module content">
  <div class="container">
    <h2> Contact </h2>

<!--     <form action='/contact' method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="mail" placeholder="Email">
      <textarea name="body" placeholder="Your Message Here"></textarea>
      <input type="submit" value="Send">
    </form> -->

    <h4> Email me: </h4>
    <p id="email"> <a href="mailto:hello@jamiepilgrim.com?subject=Let's Get Donuts&body=Please leave your name, contact details and message after the tone and I will get back to you shortly. *beeeep*!
"> hello@jamiepilgrim.com </a> </p>
  </div>
</section>

    <footer>
      <h4> &copy; 2015 Jamie Pilgrim </h4>
      <ul>
        <li><a href="http://www.twitter.com/pilgrimmemoirs" target="_blank">
          <img src="imgs/twitter.png"></a>
        </li>
        <li><a href="http://www.github.com/pilgrimmemoirs" target="_blank">
          <img src="imgs/github-2.png"></a>
        </li>
<!--         <li><a href="https://dribbble.com/bringingdonuts" target="_blank">
          <img src="imgs/dribbble.png"></a>
        </li> -->
        <li><a href="http://www.linkedin.com/in/jamiepilgrim" target="_blank">
          <img src="imgs/linkedin.png"></a>
        </li>
        <li><a href="mailto:hello@jamiepilgrim.com" target="_blank">
          <img src="imgs/email.png"></a>
        </li>
      </ul>
    </footer> 

</body>
</html>